/* Removing Default Margins And Paddings */
* {
    margin: 0;
    padding: 0;
}

/* Global Styling */
body {
    font-family: 'Raleway', sans-serif;
}

/* Contact Banner */
.contact-banner {
    background-color: #0b3a09;
    color: rgba(255, 255, 255, 0.7);
}
.contact-mail {
    display: flex;
    justify-content: center;
}
.contact-social-icons {
    display: flex;
    justify-content: flex-end;
}

/* Navbar */
.cstm-navbar {
    background-color: #0b3a09;
}

/* Welcome Banner */
.welcome-banner {
    background-color: #fed03d;
    display: flex;
    height: 10vh;
    align-items: center;
    justify-content: center;
}
.welcome-text {
    text-align: center;
    color: #333333 ;
    font-size: 2.5rem;
}

/* Introductory Banner */
.introductory-banner {

}
.profile-image-div {
    max-height: 301px;
    max-width: 400px;
}
.profile-image {
    height: 100%;
    width: 100%;
}
.introductory-text {
    color: #333333;
}
.intro {
    text-align: center;
}
.name {
    font-size: 2.0rem;
    text-align: center;
}
.para {
    line-height: 2.0rem;
}